@import '../../../../vendor/filament/filament/resources/css/theme.css';

@tailwind base;
@tailwind components;

@config 'tailwind.config.js';

@layer components {
    .fi-simple-main {
        @apply py-0 md:px-0 md:max-w-3xl bg-cover;

        section {
            @apply gap-y-0;
        }
    }

    .fi-sidebar-nav {
        @apply bg-white dark:bg-gray-900 shadow;
    }

    .fi-sidebar-open {
        @apply w-[18rem];
    }

}